{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}CRIAÇÃO DE ADICIONAL{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/estoque/adicionais/css/stylesAd.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <div class="formNovoAd">
        <h1 class="h1 text-center">TELA DE CRIAÇÃO DE NOVO ADICIONAL</h1>
        <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <!--{{ adicional_form.as_p }}-->
            <div class="form-row">
                <span class="spanAd">INFORMAÇÕES DO ADICIONAL</span>
                <div class="col-md-5 mb-3">
                    {{ adicional_form.nome.label }}
                    {{ adicional_form.nome }}
                </div>

                
                <div class="col-md-7 mb-3">
                    {{ adicional_form.preco.label }}
                    {{ adicional_form.preco }}
                </div>
                

                <div class="col-md-5 mb-3 ">
                    {{ adicional_form.quantidade.label }}
                    {{ adicional_form.quantidade }}
                </div>
                

                <div class="col-md-7 mb-3">
                    {{ adicional_form.unidade.label }}
                    {{ adicional_form.unidade }}
                </div>


                <div class="divDesc">
                    {{ adicional_form.descricao.label }}
                    {{ adicional_form.descricao }}
                </div>

                <div class="divDesc">
                    {{ adicional_form.adicionalFornecedor.label }}
                    {{ adicional_form.adicionalFornecedor }}
                </div>

                
            </div><br>
            <button class="btn btn-success" type="submit">CRIAR</button>
        </form>
    </div>
{% endblock content %}