{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}CRIAÇÃO DE INGREDIENTE{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/estoque/ingredientes/css/stylesIngred.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <div class="formNovoIngredi">
        <h1 class="h1 text-center">TELA DE CRIAÇÃO DE NOVO INGREDIENTE</h1>
        <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <!--{{ adicional_form.as_p }}-->
            <div class="form-row">
                <span class="spanIngredi">INFORMAÇÕES DO INGREDIENTE</span>
                <div class="col-md-5 mb-3">
                    {{ ingrediente_form.nome.label }}
                    {{ ingrediente_form.nome }}
                </div>

                
                <div class="col-md-7 mb-3">
                    {{ ingrediente_form.preco.label }}
                    {{ ingrediente_form.preco }}
                </div>
                

                <div class="col-md-5 mb-3 ">
                    {{ ingrediente_form.quantidade.label }}
                    {{ ingrediente_form.quantidade }}
                </div>
                

                <div class="col-md-7 mb-3">
                    {{ ingrediente_form.unidade.label }}
                    {{ ingrediente_form.unidade }}
                </div>


                <div class="divDesc">
                    {{ ingrediente_form.descricao.label }}
                    {{ ingrediente_form.descricao }}
                </div>

                <div class="divDesc">
                    {{ ingrediente_form.ingredienteFornecedor.label }}
                    {{ ingrediente_form.ingredienteFornecedor }}
                </div>

                
            </div><br>
            <button class="btn btn-success" type="submit">CRIAR</button>
        </form>
    </div>
{% endblock content %}