{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}EDIÇÃO DE FUNCIONARIO{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/pessoas/funcionarios/css/stylesFunc.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <div class="formNovoFunc">
        <h1 class="h1 text-center">TELA DE EDIÇÃO DE FUNCIONARIO</h1>
        <form method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <!--{{ adicional_form.as_p }}-->
            <div class="form-row">
                <span class="spanLocal">INFORMAÇÕES DO FUNCIONARIO</span>
                <div class="col-md-6 mb-3">
                    {{ funcionario_form.nome.label }}
                    {{ funcionario_form.nome }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.sobrenome.label }}
                    {{ funcionario_form.sobrenome }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.rg.label }}
                    {{ funcionario_form.rg }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ funcionario_form.cpf.label }}
                    {{ funcionario_form.cpf }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.rua.label }}
                    {{ funcionario_form.rua }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.bairro.label }}
                    {{ funcionario_form.bairro }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.cep.label }}
                    {{ funcionario_form.cep }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.email.label }}
                    {{ funcionario_form.email }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.numeroCasa.label }}
                    {{ funcionario_form.numeroCasa }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.telefone1.label }}
                    {{ funcionario_form.telefone1 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.telefone2.label }}
                    {{ funcionario_form.telefone2 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.celular1.label }}
                    {{ funcionario_form.celular1 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.celular2.label }}
                    {{ funcionario_form.celular2 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.foto.label }}
                    {{ funcionario_form.foto }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.ativo.label }}
                    {{ funcionario_form.ativo }}
                </div>

                
                <span class="spanLocal">LOCALIZAÇÃO</span>
                <div class="col-md-6 mb-3 editLoc">
                    {{ funcionario_form.funcionarioPais.label }}
                    {{ funcionario_form.funcionarioPais }}
                </div>


                <div class="col-md-6 mb-3 editLoc">
                    {{ funcionario_form.funcionarioEstado.label }}
                    {{ funcionario_form.funcionarioEstado }}
                </div>


                <div class="col-md-6 mb-3 editLoc">
                    {{ funcionario_form.funcionarioCidade.label }}
                    {{ funcionario_form.funcionarioCidade }}
                </div>

            </div><br>
            <button class="btn btn-success" type="submit">FINALIZAR EDIÇÃO</button>
        </form>
    </div>
{% endblock content %}
{% block scriptPage %}
<script type='text/javascript'>
    $("select[name=ativo]").toggleClass("custom-select")
    $("select[name=funcionarioCidade]").toggleClass("custom-select");
    $("select[name=funcionarioEstado]").toggleClass("custom-select");
    $("select[name=funcionarioPais]").toggleClass("custom-select");
    //$('select[name=funcionarioCidade] <option value="{{ funcionario_form.funcionarioEstado.value }}" selected disabled>{% for estado in estados %}{% if estado.idEstado == funcionario_form.funcionarioEstado.value %}{{ estado.nome }}{% endif %}{% endfor %}</option>');
    $(function(){
        var estado = $('select[name=funcionarioEstado]');
        var cidade = $('select[name=funcionarioCidade]');
        estado.empty();
        cidade.empty();
        estado.prepend('<option value="{{ funcionario_form.funcionarioEstado.value }}" selected>{% for estado in estados %}{% if estado.idEstado == funcionario_form.funcionarioEstado.value %}{{ estado.nome }}{% endif %}{% endfor %}</option>');
        cidade.prepend('<option value="{{ funcionario_form.funcionarioCidade.value }}" selected>{% for cidade in cidades %}{% if cidade.idCidade == funcionario_form.funcionarioCidade.value %}{{ cidade.nome }}{% endif %}{% endfor %}</option>');
        $('select[name=funcionarioPais]').change(function(){
            if('option[value="notValue"]'){
                estado.empty();
                cidade.empty();
            }
            if($("#idPais option:selected").text() != ("YOU SHOULD INSERT THE INITIAL VALUE OF THE pais FIELD WHEN IT IS NOT SELECTED")) {
                var pais_id = $('select[name=funcionarioPais]').val();
                request_url = 'get-estado/' + pais_id;
                $.ajax({
                    url: request_url,
                    type: "GET",
                    success: function(data){
                        estado.empty();
                        cidade.empty();
                        estado.prepend('<option value="notValue" selected>---------</option>');
                        $.each(data, function(key, value){
                            console.log("Estado: ",data, key, value)
                            estado.append('<option value="' + key + '">' + value + '</option>');
                        });
                    }
                })
            }
        })
        $('select[name=funcionarioEstado]').change(function(){
            if('option[value="notValue"]'){
                cidade.empty();
            }
            if($("#idEstado option:selected").text() != ("YOU SHOULD INSERT THE INITIAL VALUE OF THE estado FIELD WHEN IT IS NOT SELECTED")) {
                var estado_id = $('select[name=funcionarioEstado]').val();
                request_url = 'get-cidade/' + estado_id;
                $.ajax({
                    url: request_url,
                    type: "GET",
                    success: function(data){
                        cidade.empty();
                        cidade.prepend('<option value="notValue" selected>---------</option>');
                        $.each(data, function(key, value){
                            console.log("Cidade: ",data, key, value)
                            cidade.append('<option value="' + key + '">' + value + '</option>');
                        });
                    }
                })
            }
        })
    });
</script>
{% endblock scriptPage %}