{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}LISTA DE CLIENTES{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/pessoas/clientes/css/stylesCli.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <h1 class="h1 text-center">LISTA DE CLIENTES</h1>
    <div class="search">
        <input type="text" class="form-control" id="search" placeholder="Area de Pesquisa" name="search" required><br>
    </div>
    <div>
        <a class="btn btn-secondary button-estoque" href="{% url 'novo_cliente' %}">NOVO CLIENTE</a>
        <a class="btn btn-secondary button-estoque" href="{% url 'pessoas' %}">VOLTAR</a>
    </div>
    <div class="formNovoCli">
        <div class="adicionais-div estoque-div">
            <h2 class="h2 text-center">CLIENTES CADASTRADOS</h2>
            {% if clientes %}
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">NOME</th>
                            <th scope="col">SOBRENOME</th>
                            <th scope="col">RG</th>
                            <th scope="col">CPF</th>
                            <th scope="col">CIDADE</th>
                            <th scope="col">AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr>
                                <th scope="row">{{ cliente.idCliente }}</th>
                                <th>{{ cliente.nome }}</th>
                                <th>{{ cliente.sobrenome }}</th>
                                <th>{{ cliente.rg }}</th>
                                <th>{{ cliente.cpf }}</th>
                                <th>{{ cliente.clienteCidade }}</th>
                                <th>
                                    <a class="btn btn-info col-md-4 mb-3" href="{% url 'show_cliente' cliente.idCliente %}">VISUALIZAR</a>
                                    <a class="btn btn-warning col-md-3 mb-3" href="{% url 'editar_cliente' cliente.idCliente %}">EDITAR</a>
                                    <a class="btn btn-danger col-md-4 mb-3" href="{% url 'eliminar_cliente' cliente.idCliente %}">DELETAR</a>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3 class="h3 text-center">Não existe clientes registrados</h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}