{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}VISUALIZAÇÃO DE FORNECEDOR{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/estoque/fornecedores/css/stylesForn.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <div class="formNovoForn">
        <h1 class="h1 text-center">TELA DE VISUALIZAÇÃO DE FORNECEDOR</h1>
            {% csrf_token %}
            <!--{{ adicional_form.as_p }}-->
            <div class="form-row">

                <span class="spanLocal">INFORMAÇÕES DO FORNECEDOR</span>
                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.razao_social.label }}
                    {{ fornecedor_form.razao_social }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.cnpj.label }}
                    {{ fornecedor_form.cnpj }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.ie.label }}
                    {{ fornecedor_form.ie }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.rua.label }}
                    {{ fornecedor_form.rua }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.bairro.label }}
                    {{ fornecedor_form.bairro }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.cep.label }}
                    {{ fornecedor_form.cep }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.email.label }}
                    {{ fornecedor_form.email }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.numeroLocal.label }}
                    {{ fornecedor_form.numeroLocal }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.telefone1.label }}
                    {{ fornecedor_form.telefone1 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.telefone2.label }}
                    {{ fornecedor_form.telefone2 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.celular1.label }}
                    {{ fornecedor_form.celular1 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ fornecedor_form.celular2.label }}
                    {{ fornecedor_form.celular2 }}
                </div>


                <div class="col-md-6 mb-3 custom-file">
                    {{ fornecedor_form.foto.label }}
                    {{ fornecedor_form.foto }}
                </div>


                <div class="col-md-6 mb-3 form-group">
                    {{ fornecedor_form.ativo.label }}
                    {{ fornecedor_form.ativo }}
                </div>

                
                <span class="spanLocal">LOCALIZAÇÃO</span>
                <div class="col-md-6 mb-3 editlocreadondly">
                    {{ fornecedor_form.fornecedorPais.label }}
                    {{ fornecedor_form.fornecedorPais }}
                </div>


                <div class="col-md-6 mb-3 editlocreadondly">
                    {{ fornecedor_form.fornecedorEstado.label }}
                    {{ fornecedor_form.fornecedorEstado }}
                </div>


                <div class="col-md-6 mb-3 editlocreadondly">
                    {{ fornecedor_form.fornecedorCidade.label }}
                    {{ fornecedor_form.fornecedorCidade }}
                </div>

                
            </div><br>
            <a class="btn btn-warning button-action" href="{% url 'editar_fornecedor' idFornecedor %}">EDITAR</a>
            <a class="btn btn-danger button-action" href="{% url 'eliminar_fornecedor' idFornecedor %}">DELETAR</a>
            <a class="btn btn-primary button-action" href="{% url 'fornecedores' %}">VOLTAR</a>   

    </div>
{% endblock content %}
{% block scriptPage %}
<script type='text/javascript'>
    $("select[name=ativo]").attr("disabled", true);
    $("select[name=fornecedorCidade]").attr("disabled", true);
    $("select[name=fornecedorEstado]").attr("disabled", true);
    $("select[name=fornecedorPais]").attr("disabled", true);
    $("input[name=foto]").attr("disabled", true);
    $("select[name=ativo]").toggleClass("custom-select")
    $("select[name=fornecedorCidade]").toggleClass("custom-select");
    $("select[name=fornecedorEstado]").toggleClass("custom-select");
    $("select[name=fornecedorPais]").toggleClass("custom-select");
</script>
{% endblock scriptPage %}