{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}EDIÇÃO DE LANCHE{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/lanchesAndBebidas/lanches/css/stylesLanc.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <div class="formNovoLanche">
        <h1 class="h1 text-center">TELA DE EDIÇÃO DE LANCHE</h1>
        <form method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <!--{{ adicional_form.as_p }}-->
            <div class="form-row">
                <span class="spanLocal">INFORMAÇÕES DO LANCHE</span>
                <div class="col-md-6 mb-3">
                    {{ lanche_form.nome.label }}
                    {{ lanche_form.nome }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ lanche_form.preco.label }}
                    {{ lanche_form.preco }}
                </div>

                <div class="divDesc">
                    {{ lanche_form.descricao.label }}
                    {{ lanche_form.descricao }}
                </div>

                <div class="divDesc" style="margin-bottom: 10px;">
                    {{ lanche_form.lancheIngrediente.label }}
                    {{ lanche_form.lancheIngrediente }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ lanche_form.foto.label }}
                    {{ lanche_form.foto }}
                </div>


                <div class="custom-control custom-checkbox divCheckBox">
                    {{ lanche_form.estado.label }}
                    {{ lanche_form.estado }}
                </div>

            </div><br>
            <button class="btn btn-success" type="submit">FINALIZAR EDIÇÃO</button>
        </form>
    </div>
{% endblock content %}
{% block scriptPage %}
<script type='text/javascript'>
    $("select[name=estado]").toggleClass("custom-select");
</script>
{% endblock scriptPage %}