{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}LISTA DE LANCHES{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/lanchesAndBebidas/lanches/css/stylesLanc.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <h1 class="h1 text-center">LISTA DE LANCHES</h1>
    <div class="search">
        <input type="text" class="form-control" id="search" placeholder="Area de Pesquisa" name="search" required><br>
    </div>
    <div>
        <a class="btn btn-secondary button-estoque" href="{% url 'novo_lanche' %}">NOVO LANCHE</a>
    </div>
    <div class="formNovoLanche">
        <div class="adicionais-div estoque-div">
            <h2 class="h2 text-center">LANCHES CADASTRADOS</h2>
            {% if lanches %}
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">NOME</th>
                            <th scope="col">DESCRIÇÃO</th>
                            <th scope="col">PREÇO</th>
                            <th scope="col">INGREDIENTES</th>
                            <th scope="col">AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lanche in lanches %}
                            <tr>
                                <th scope="row">{{ lanche.idLanche }}</th>
                                <th>{{ lanche.nome }}</th>
                                <th>{{ lanche.descricao }}</th>
                                <th>{{ lanche.preco }}</th>
                                <th>
                                    {% for ingrediente in lanche.lancheIngrediente.all %}
                                        <li>{{ ingrediente.nome }}</li>
                                    {% endfor %}
                                </th>
                                <th>
                                    <a class="btn btn-info col-md-4 mb-3" href="{% url 'show_lanche' lanche.idLanche %}">VISUALIZAR</a>
                                    <a class="btn btn-warning col-md-3 mb-3" href="{% url 'editar_lanche' lanche.idLanche %}">EDITAR</a>
                                    <a class="btn btn-danger col-md-4 mb-3" href="{% url 'eliminar_lanche' lanche.idLanche %}">DELETAR</a>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3 class="h3 text-center">Não existe lanches registrados</h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}