{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}CRIAÇÃO DE LANCHE{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/lanchesAndBebidas/lanches/css/stylesLanc.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <div class="formNovoLanche">
        <h1 class="h1 text-center">TELA DE LANCHE</h1>
        <form method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <!--{{ adicional_form.as_p }}-->
            <div class="form-row">
                <span class="spanLocal">INFORMAÇÕES DO LANCHE</span>
                <div class="col-md-6 mb-3">
                    {{ lanche_form.nome.label }}
                    {{ lanche_form.nome }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ lanche_form.preco.label }}
                    {{ lanche_form.preco }}
                </div>

                <div class="divDesc" style="margin-bottom: 10px;">
                    {{ lanche_form.descricao.label }}
                    {{ lanche_form.descricao }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ lanche_form.foto.label }}
                    {{ lanche_form.foto }}
                </div>


                <div class="custom-control custom-checkbox divCheckBox">
                    {{ lanche_form.estado.label }}
                    {{ lanche_form.estado }}
                </div>

                <span class="spanLocal">INGREDIENTES</span>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-inline" id="estoque">
                            {% for ingrediente_lanche_form in formset %}
                            <div id="ingrediente-{{ forloop.counter0 }}" class="form-group">
                                {{ ingrediente_lanche_form }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                <span id="add-item" class="btn btn-info">
                    <i class="fa fa-plus"></i>ADICIONAR 
                </span>
                </div>

            </div><br>
            <button class="btn btn-success" type="submit">CRIAR</button>
        </form>
    </div>
{% endblock content %}
{% block scriptPage %}
<script type='text/javascript'>
    //$("select[id='id_la_lancheIngrediente']").toggleClass("custom-select");
    $('#id_lanche-0-ingrediente').addClass('custom-select');
    $('#id_lanche-0-quantidade').addClass('form-control');
    $(document).ready(function() {
        $('#add-item').click(function(ev) {
            console.log("teste");
            var count = $('#estoque').children().length;
            var tmplMarkup = $('#ingrediente-lanche').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            $('div#estoque').append(compiledTmpl);

            $('#id_lancheIngrediente-TOTAL_FORMS').attr('value', count + 1);
            ev.preventDefault();

            /*$('html, body').animate({
                scrollTop: $("#add-item").position().top - 200
            }, 800);*/
            $('#id_lanche-' + (count) + '-ingrediente').addClass('custom-select');
            $('#id_lanche-' + (count) + '-quantidade').addClass('form-control');
        });
    });
</script>

<script type="text/html" id="ingrediente-lanche">
    <div id="item-__prefix__" class="form-group">
      {{ formset.empty_form }}
    </div>
  </script>
{% endblock scriptPage %}