.h2 {
    font-size: 20pt;
}

.h1 {
    font-size: 25pt;
    background-color: rgb(194, 19, 10);
    color: rgb(238, 238, 238);
    padding: 5px;
}

.h3{
    font-size: 16pt;
}

.button-estoque {
    width: 33.1%;
}

.button-action {
    margin: 10px;
}

.search {
    margin-top: 10px;
}

.estoque-div {
    margin: 10px;
    padding: 5px;
    border: 2px solid #cccccc;
    box-shadow: 3px 3px 3px #cccccc;
}

.ingredientes-div {
    margin-top: 25px;
}

.formEstoque {
    box-shadow: 2px 2px 2px #cccccc;
    margin-top: 10px;
    border: 2px solid #cccccc;
    padding: 10px;
}