{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}LISTA DE FORNECEDORES{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/estoque/fornecedores/css/stylesForn.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <h1 class="h1 text-center">LISTA DE FORNECEDORES</h1>
    <div class="search">
        <input type="text" class="form-control" id="search" placeholder="Area de Pesquisa" name="search" required><br>
    </div>
    <div>
        <a class="btn btn-secondary button-estoque" href="{% url 'novo_fornecedor' %}">NOVO FORNECEDOR</a>
        <a class="btn btn-secondary button-estoque" href="{% url 'estoque' %}">VOLTAR</a>
    </div>
    <div>
        <div class="adicionais-div estoque-div">
            <h2 class="h2 text-center">FORNECEDORES CADASTRADOS</h2>
            {% if fornecedores %}
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">RAZÃO SOCIAL</th>
                            <th scope="col">CNPJ</th>
                            <th scope="col">IE</th>
                            <th scope="col">PRIMEIRO TELEFONE</th>
                            <th scope="col">CIDADE</th>
                            <th scope="col">AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fornecedor in fornecedores %}
                            <tr>
                                <th scope="row">{{ fornecedor.idFornecedor }}</th>
                                <th>{{ fornecedor.razao_social }}</th>
                                <th>{{ fornecedor.cnpj }}</th>
                                <th>{{ fornecedor.ie }}</th>
                                <th>{{ fornecedor.telefone1 }}</th>
                                <th>{{ fornecedor.fornecedorCidade }}</th>
                                <th>
                                    <a class="btn btn-info col-md-4 mb-3" href="{% url 'show_fornecedor' fornecedor.idFornecedor %}">VISUALIZAR</a>
                                    <a class="btn btn-warning col-md-3 mb-3" href="{% url 'editar_fornecedor' fornecedor.idFornecedor %}">EDITAR</a>
                                    <a class="btn btn-danger col-md-4 mb-3" href="{% url 'eliminar_fornecedor' fornecedor.idFornecedor %}">DELETAR</a>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3 class="h3 text-center">Não existe fornecedores registrados</h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}