{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}VISUALIZAÇÃO DE FUNCIONARIO{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/pessoas/funcionarios/css/stylesFunc.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <div class="formNovoFunc">
        <h1 class="h1 text-center">TELA DE VISUALIZAÇÃO DE FUNCIONARIO</h1>
            {% csrf_token %}
            <!--{{ adicional_form.as_p }}-->
            <div class="form-row">

                <span class="spanLocal">INFORMAÇÕES DO FUNCIONARIO</span>
                <div class="col-md-6 mb-3">
                    {{ funcionario_form.nome.label }}
                    {{ funcionario_form.nome }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.sobrenome.label }}
                    {{ funcionario_form.sobrenome }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.rg.label }}
                    {{ funcionario_form.rg }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ funcionario_form.cpf.label }}
                    {{ funcionario_form.cpf }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.rua.label }}
                    {{ funcionario_form.rua }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.bairro.label }}
                    {{ funcionario_form.bairro }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.cep.label }}
                    {{ funcionario_form.cep }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.email.label }}
                    {{ funcionario_form.email }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.numeroCasa.label }}
                    {{ funcionario_form.numeroCasa }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.telefone1.label }}
                    {{ funcionario_form.telefone1 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.telefone2.label }}
                    {{ funcionario_form.telefone2 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.celular1.label }}
                    {{ funcionario_form.celular1 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.celular2.label }}
                    {{ funcionario_form.celular2 }}
                </div>


                <div class="col-md-6 mb-3 form-group">
                    {{ funcionario_form.ativo.label }}
                    {{ funcionario_form.ativo }}
                </div>

                
                <div class="col-md-6 mb-3">
                    {{ funcionario_form.funcionarioTipoFuncionario.label }}
                    {{ funcionario_form.funcionarioTipoFuncionario }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ funcionario_form.data_admissao.label }}
                    {{ funcionario_form.data_admissao }}
                </div>

                <div class="col-md-6 mb-3 custom-file">
                    {{ funcionario_form.foto.label }}
                    {{ funcionario_form.foto }}
                </div>

                
                <span class="spanLocal">LOCALIZAÇÃO</span>
                <div class="col-md-6 mb-3">
                    {{ funcionario_form.funcionarioPais.label }}
                    {{ funcionario_form.funcionarioPais }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.funcionarioEstado.label }}
                    {{ funcionario_form.funcionarioEstado }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ funcionario_form.funcionarioCidade.label }}
                    {{ funcionario_form.funcionarioCidade }}
                </div>

                
            </div><br>
            <a class="btn btn-warning button-action" href="{% url 'editar_funcionario' idFuncionario %}">EDITAR</a>
            <a class="btn btn-danger button-action" href="{% url 'eliminar_funcionario' idFuncionario %}">DELETAR</a>
            <a class="btn btn-primary button-action" href="{% url 'funcionarios' %}">VOLTAR</a>   

    </div>
{% endblock content %}
{% block scriptPage %}
<script type='text/javascript'>
    $("select[name=ativo]").attr("disabled", true);
    $("select[name=funcionarioCidade]").attr("disabled", true);
    $("select[name=funcionarioEstado]").attr("disabled", true);
    $("select[name=funcionarioPais]").attr("disabled", true);
    $("input[name=foto]").attr("disabled", true);
    $("select[name=ativo]").toggleClass("custom-select")
    $("select[name=funcionarioCidade]").toggleClass("custom-select");
    $("select[name=funcionarioEstado]").toggleClass("custom-select");
    $("select[name=funcionarioPais]").toggleClass("custom-select");
    $("select[name=funcionarioTipoFuncionario]").toggleClass("custom-select").attr("disabled", true);
    $("input[name=data_admissao]").toggleClass("form-control").attr("disabled", true);
</script>
{% endblock scriptPage %}