{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}EDIÇÃO DE TIPO DE FUNCIONARIO{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/pessoas/funcionarios/tipoFuncionario/css/stylesTipFunc.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <div class="formNovoTipoFunc">
        <h1 class="h1 text-center">TELA DE EDIÇÃO DE TIPO DE FUNCIONARIO</h1>
        <form method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <!--{{ adicional_form.as_p }}-->
            <div class="form-row">
                <span class="spanLocal">INFORMAÇÕES DO TIPO DE FUNCIONARIO</span>
                <div class="col-md-6 mb-3">
                    {{ tipofuncionario_form.nome.label }}
                    {{ tipofuncionario_form.nome }}
                </div>
    
    
                <div class="divDesc">
                    {{ tipofuncionario_form.descricao.label }}
                    {{ tipofuncionario_form.descricao }}
                </div>
    
    
                <div class="custom-control custom-checkbox divCheckBox">
                    {{ tipofuncionario_form.estado.label }}
                    {{ tipofuncionario_form.estado }}
                </div>

            </div><br>
            <button class="btn btn-success" type="submit">FINALIZAR EDIÇÃO</button>
        </form>
    </div>
{% endblock content %}