{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}VISUALIZAÇÃO DE TIPOS DE FUNCIONARIO{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/pessoas/funcionarios/tipoFuncionario/css/stylesTipFunc.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <div class="formNovoTipoFunc">
        <h1 class="h1 text-center">TELA DE VISUALIZAÇÃO DE TIPOS DE FUNCIONARIO</h1>
            {% csrf_token %}
            <!--{{ adicional_form.as_p }}-->
            <div class="form-row">

                <span class="spanLocal">INFORMAÇÕES DO TIPO DE FUNCIONARIO</span>
                <div class="col-md-6 mb-3">
                        {{ tipofuncionario_form.nome.label }}
                        {{ tipofuncionario_form.nome }}
                    </div>
    
    
                    <div class="divDesc">
                        {{ tipofuncionario_form.descricao.label }}
                        {{ tipofuncionario_form.descricao }}
                    </div>
    
    
                    <div class="custom-control custom-checkbox divCheckBox">
                        {{ tipofuncionario_form.estado.label }}
                        {{ tipofuncionario_form.estado }}
                    </div>

                
            </div><br>
            <a class="btn btn-warning button-action" href="{% url 'editar_tipoFuncionario' idTipoFuncionario %}">EDITAR</a>
            <a class="btn btn-danger button-action" href="{% url 'eliminar_tipoFuncionario' idTipoFuncionario %}">DELETAR</a>
            <a class="btn btn-primary button-action" href="{% url 'tipoFuncionario' %}">VOLTAR</a>   

    </div>
{% endblock content %}
{% block scriptPage %}
<script type='text/javascript'>
    $("input[name=estado]").attr("disabled", true);
</script>
{% endblock scriptPage %}