{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}VISUALIZAÇÃO DE CLIENTE{% endblock title %}

{% block cssPage %}
    <link rel="stylesheet" href="{% static 'pages/pessoas/clientes/css/stylesCli.css' %}">
{% endblock cssPage %}

{% block menu %}
{% endblock menu %}

{% block content %}
    <div class="formNovoCli">
        <h1 class="h1 text-center">TELA DE VISUALIZAÇÃO DE CLIENTE</h1>
            {% csrf_token %}
            <!--{{ adicional_form.as_p }}-->
            <div class="form-row">

                <span class="spanLocal">INFORMAÇÕES DO FORNECEDOR</span>
                <div class="col-md-6 mb-3">
                    {{ cliente_form.nome.label }}
                    {{ cliente_form.nome }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ cliente_form.sobrenome.label }}
                    {{ cliente_form.sobrenome }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ cliente_form.rg.label }}
                    {{ cliente_form.rg }}
                </div>

                <div class="col-md-6 mb-3">
                    {{ cliente_form.cpf.label }}
                    {{ cliente_form.cpf }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ cliente_form.rua.label }}
                    {{ cliente_form.rua }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ cliente_form.bairro.label }}
                    {{ cliente_form.bairro }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ cliente_form.cep.label }}
                    {{ cliente_form.cep }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ cliente_form.email.label }}
                    {{ cliente_form.email }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ cliente_form.numeroCasa.label }}
                    {{ cliente_form.numeroCasa }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ cliente_form.telefone1.label }}
                    {{ cliente_form.telefone1 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ cliente_form.telefone2.label }}
                    {{ cliente_form.telefone2 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ cliente_form.celular1.label }}
                    {{ cliente_form.celular1 }}
                </div>


                <div class="col-md-6 mb-3">
                    {{ cliente_form.celular2.label }}
                    {{ cliente_form.celular2 }}
                </div>


                <div class="col-md-6 mb-3 custom-file">
                    {{ cliente_form.foto.label }}
                    {{ cliente_form.foto }}
                </div>


                <div class="col-md-6 mb-3 form-group">
                    {{ cliente_form.ativo.label }}
                    {{ cliente_form.ativo }}
                </div>

                
                <span class="spanLocal">LOCALIZAÇÃO</span>
                <div class="col-md-6 mb-3 editlocreadondly">
                    {{ cliente_form.clientePais.label }}
                    {{ cliente_form.clientePais }}
                </div>


                <div class="col-md-6 mb-3 editlocreadondly">
                    {{ cliente_form.clienteEstado.label }}
                    {{ cliente_form.clienteEstado }}
                </div>


                <div class="col-md-6 mb-3 editlocreadondly">
                    {{ cliente_form.clienteCidade.label }}
                    {{ cliente_form.clienteCidade }}
                </div>

                
            </div><br>
            <a class="btn btn-warning button-action" href="{% url 'editar_cliente' idCliente %}">EDITAR</a>
            <a class="btn btn-danger button-action" href="{% url 'eliminar_cliente' idCliente %}">DELETAR</a>
            <a class="btn btn-primary button-action" href="{% url 'clientes' %}">VOLTAR</a>   

    </div>
{% endblock content %}
{% block scriptPage %}
<script type='text/javascript'>
    $("select[name=ativo]").attr("disabled", true);
    $("select[name=clienteCidade]").attr("disabled", true);
    $("select[name=clienteEstado]").attr("disabled", true);
    $("select[name=clientePais]").attr("disabled", true);
    $("input[name=foto]").attr("disabled", true);
    $("select[name=ativo]").toggleClass("custom-select")
    $("select[name=clienteCidade]").toggleClass("custom-select");
    $("select[name=clienteEstado]").toggleClass("custom-select");
    $("select[name=clientePais]").toggleClass("custom-select");
</script>
{% endblock scriptPage %}