{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}BEM VINDO - PAGINA INICIAL{% endblock title %}

{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="#">HOMEPAGE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">PEDIDOS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">LANCHES E BEBIDAS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">ESTOQUE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">CADASTRO DE PESSOAS</a>
    </li>
{% endblock menu %}

{% block content %}

{% endblock content %}